body {
    margin: 0px;
}

/* Estilizando o contêiner principal */
.pai {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 403px;
}

/* Estilizando o texto principal */
.text {
    margin-top: 50px;
    margin-left: 410px;
    margin-right: 50px;
}

.topicText {
    font-family: "Anton", sans-serif;
    font-size: 65px;
}

.textinf {
    font-size: 29px;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}




/* Estilizando a imagem redonda */
.img-redonda {
    margin-top: 107px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
}

/* Container de contato */
.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 50px;
    background-color: #F2F2F2;
}

/* Containers de contato individuais */
.contato, .localizacao, .horario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 120px;
    width: 350px; /* Ajusta a largura dos cards */
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
}

.contato:hover, .localizacao:hover, .horario:hover {
    transform: translateY(-10px);  /* Efeito de elevação ao passar o mouse */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);  /* Sombra mais forte ao passar o mouse */
}

/* Ajuste para a imagem de localização */
.image-localizacao {
    margin-left: -15px;
    margin-top: -5px;
    width: 100%;
}

/* Estilização dos textos de contato */
.numero-contato, .horas {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 60px;
    width:100%;
}

.tel-text, .text-horario {
    font-size: 14px;
    margin-left: -100px;
    
}
.text-local{
    margin-left: -100px;
    width: 100%;


}
.inflocal{
    font-size: 20px;
    display: flex;
    margin-bottom: 80px;
    flex-direction: row;
    height: auto;
}
/* Estilização da seção de contato */
.header-formulario {
    background-color: #F2F2F2;
    height: auto;
    margin-top: 100px;
    padding: 50px 0;
}

.opa {
    height: 200vh;
    margin-top: 100px;
}

/* Estilização do tópico de formulário */
.topic-forms {
    font-family: "Roboto Slab", serif;
    text-align: center;
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Seção de contato */
.sessao-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.contato-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

/* Ajuste do formulário de contato */
.contato-form {
    padding: 40px;
    background-color: #333;
    color: #fff;
    width: 70%;
    border-radius: 10px;
}

.contato-form h2 {
    font-size: 28px;
    text-align: center;
}

.contato-form label {
    font-size: 14px;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 8px;
    display: block;
}

.contato-form input, .contato-form textarea {
    width: 95%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #444;
    color: #fff;
    font-size: 16px;
}

.contato-form input:focus, .contato-form textarea:focus {
    outline: none;
    border-color: #F65D08;
}

/* Botão de envio */
.contato-form input[type="submit"] {
    background-color: #F65D08;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    border-radius: 5px;
}

.contato-form input[type="submit"]:hover {
    background-color: #C65227;
}

/* Campo de texto (textarea) */
.contato-form textarea {
    height: 130px;
}

/* Responsividade */
@media (max-width: 912px) {
    .contato-container {
        flex-direction: column;
        max-width: 100%;
    }

    .container{
    flex-direction: column;
        
    }
    .contato-details img {
        display: none;

    }
    .contato-form {
        width: 90%;
    }

    .contato, .localizacao, .horario {
        width: 90%;
    }
   
}

.contato-details {
    width: 70%;
    text-align: center;

}

.contato-details h2 {
    margin-bottom: 20px;
}

.contato-details img {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}



a.navbar-brand {
   
    margin: 0;
    padding: 0;
    padding-left: 0px; /* Ajuste conforme necessário */
    display: inline-block; /* Para ocupar apenas o espaço necessário */
}

.support-info{
    margin-top:100px
}

/* Navbar  */
nav.navbar {
    background-color:  #fff; 
    position: absolute; /* Deixar a navbar flutuando */
    top: 0;
    width: 100%;
    height: auto;
    z-index: 20; /* Certificando que a navbar fique acima do conteúdo */
    border: none; /* Removendo qualquer borda da navbar */
     /*border: 1px solid #002198;  Define uma borda verde */
     position: fixed;
     top: 0;
     left: 0;
     box-shadow: 0px 0px 5px #888888;


}

.logo{
width: 217px;
height: 70px;
align-items: baseline;
 

}

nav.rolagem{
    background-color: #25262B;
}

/* Ajustes na navbar */
.navbar-nav .nav-link {
    color: #333333 !important; /* Tornando o texto da navbar branco para melhor contraste */
    font-size: 14px;
    padding: 30px;
    margin-left: 30px;
    font-family:Arial, Helvetica, sans-serif;
    
}
.navbar-nav .nav-link:hover {
    color: #eaeaea;
    transition: color 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}



/* Barra de pesquisa */


.input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.input {
    border: 1px solid #333333;
    padding: 10px 15px;
    width: 200px; /* Largura inicial do campo de pesquisa */
    height: 40px; /* Altura do campo */
    border-radius: 20px; /* Bordas arredondadas */
    outline: none;
    transition: width 0.5s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Transições mais suaves */
    background-color: transparent; /* Inicialmente transparente */
    display: none; /* Escondido inicialmente */
}

.input:focus {
    width: 290px; /* Largura quando focado */
    background-color: #fff; /* Cor de fundo ao focar */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra ao focar */
    cursor: text; /* Cursor para texto ao focar */
}

.input::placeholder {
    color: transparent; /* Placeholder invisível inicialmente */
    transition: color 0.3s ease; /* Transição suave para o placeholder */
}

.input:focus::placeholder {
    color: rgb(131, 128, 128); /* Cor do placeholder ao focar */
}

.input:not(:placeholder-shown) {
    background-color: #fff; /* Cor de fundo quando há texto */
    border: 1px solid #333333; /* Borda visível */
}

.icon {
    position: absolute;
    right: 10px;
    height: 20px; /* Altura do ícone */
    width: 20px; /* Largura do ícone */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
}

.input-container:hover .icon {
    transform: scale(1.1); /* Aumenta o ícone ao passar o mouse */
}

.icone_nav {
    width: 65px;
    height: 65px;
}

/* Adiciona visibilidade ao campo de entrada quando ativado */
.show {
    display: block; /* Exibe o campo */
    transition: display 0.5s ease; /* Transição suave ao exibir */
}

.box1 {
    background-color: #f0f0f0; /* Cor de fundo leve */
    background-size: cover;
    background-position: center;
    height: 60vh; /* A div ocupará metade da altura da viewport */
    width: 100%; 
    position: relative;
    display: inline-block; /* Flexbox para centralizar o conteúdo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    padding-top: 50px;
    margin: 20px 0; /* Espaçamento externo */
    font-size: 1.5rem; /* Tamanho de fonte maior */
    color: #333; /* Cor do texto */
}

/* Estilo responsivo */
@media (max-width: 768px) {
    .box1 {
        height: auto; /* Ajusta a altura automaticamente para telas menores */
        font-size: 1.2rem; /* Reduz o tamanho da fonte em dispositivos menores */
        padding: 40px; /* Ajusta o espaçamento interno */


    }
}

.hr{
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 0px;
    padding-bottom: 0px;
   color: black;
}
/* navbar */

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba%280,0,0,.5%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    transition: transform 0.3s ease;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
    transform: rotate(90deg); /* Gira o ícone ao abrir o menu */
}


.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: #ccc;
}
.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}
/* Efeito de hover nos links */
.navbar-nav .nav-link {
    transition: color 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.navbar-nav .nav-link:hover {
    color: #1db954; /* Muda a cor no hover (verde, por exemplo) */
    background-color: rgba(255, 255, 255, 0.1); /* Muda o fundo no hover */
}

/* Efeito para o link ativo */
.navbar-nav .nav-link.active {
    color: #1db954;
    font-weight: bold; /* Torna o link ativo mais destacado */
    border-bottom: 2px solid #1db954; /* Linha abaixo do item ativo */
}
/* navbar */

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba%280,0,0,.5%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    transition: transform 0.3s ease;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
    transform: rotate(90deg); /* Gira o ícone ao abrir o menu */
}


.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: #ccc;
}
.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}
/* Efeito de hover nos links */
.navbar-nav .nav-link {
    transition: color 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.navbar-nav .nav-link:hover {
    color: #1db954; /* Muda a cor no hover (verde, por exemplo) */
    background-color: rgba(255, 255, 255, 0.1); /* Muda o fundo no hover */
}

/* Efeito para o link ativo */
.navbar-nav .nav-link.active {
    color: #1db954;
    font-weight: bold; /* Torna o link ativo mais destacado */
    border-bottom: 2px solid #1db954; /* Linha abaixo do item ativo */
}

