
body {
  font-family: 'Roboto', sans-serif;
}
.background-image-div {
  background-color: aqua;
  background-size: cover;
  background-position: center;
  height: 70vh; /* A div ocupará a altura total da viewport */
  width: 100%;  
  position: relative;
  overflow: hidden; /* Adiciona esta linha para garantir que o pseudo-elemento não ultrapasse os limites da div */
}

.background-image-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Ajuste o valor de opacidade (0.5) conforme necessário */
  z-index: 1; /* Garante que a sobreposição fique acima da imagem de fundo */
}



.navbar {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

a.navbar-brand {
  color: #fff;
  margin: 0;
  padding: 0;
  padding-left: 200px; /* Ajuste conforme necessário */
  display: inline-block; /* Para ocupar apenas o espaço necessário */
}



/* Navbar transparente */
nav.navbar {
  background-color: transparent; /* Tornando a navbar completamente transparente */
  position: absolute; /* Deixar a navbar flutuando */
  top: 0;
  width: 100%;
  z-index: 10; /* Certificando que a navbar fique acima do conteúdo */
  border: none; /* Removendo qualquer borda da navbar */
   /*border: 1px solid #002198;  Define uma borda verde */


}

/* Ajustes na navbar */
.navbar-nav .nav-link {
  color: #fff !important; /* Tornando o texto da navbar branco para melhor contraste */
  font-size: 16px;
  padding: 30px;
  margin-left: 50px;
  font-family:Arial, Helvetica, sans-serif;
  
}
.navbar-nav .nav-link:hover {
  color: #003366;
  transition: color 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}





/* Barra de pesquisa */


.input {
  width: 40px;
  transition: width 0.4s ease;
}

.input:focus {
  width: 200px;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 50px;

}


.input {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: rgb(131, 128, 128);
}

.input:focus,.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid rgb(91, 107, 255);
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 45px;
}

.icon {
  position: absolute;
  left: 0;
  height: 45px;
  width: 45px;
  background-color: #fff;
  border-radius: 99px;
  z-index: -1;
  fill: rgb(91, 107, 255);
  border: 1px solid rgb(91, 107, 255);
}

.input:focus + .icon,.input:not(:placeholder-shown) + .icon {
  z-index: 0;
  background-color: transparent;
  border: none;
}






.input {
  border: 1px solid #ccc;
  padding: 5px 10px;
  width: 200px;
}

.icon {
  position: absolute;
  right: 10px;
}







  .oq-fazemos{
    display: flex;
    justify-content: flex-start ;
    margin-top: 6%;
    margin-left: 17%;
    width: 80%;
    border: 1px solid #686868;  
    z-index: 10;


  }
  
    #sobre{
    font-weight: bold;
    font-size: 22px;
    color: black;
    z-index: 10;


  }
  

  .oq{
    margin-left: 10px;
    font-size: 18px;
    color: #3f3f3f;
    width: 40%;
    margin-left: 80px;
    z-index: 10;

    

  }

  .a{
    color: black;
    display: flex;
    justify-content: center ;
    margin-left: 20%;
    margin-top: 10%;
    border: 1px solid #686868; 
    width: 80%;
    z-index: 10;


    
  }
  .a1{
    margin-left: 10px;
    font-size: 18px;
    color: #3f3f3f;
    width: 40%;
    margin-left: 80px;
    z-index: 10;


  }


  .b{
    color: black;
    display: flex;
    justify-content: center ;
    width: 80%;
    z-index: 10;




    
  }
  .b1{
    margin-left: 10px;
    font-size: 18px;
    color: #3f3f3f;
    width: 40%;
    margin-left: 80px;
    border: 1px solid #686868;  
    display: flex;
    margin-left: 17%;
    margin-top: 15%;
      z-index: 10;




  }